.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        = @group.name
        %ul.ChatHeader__memberList
          Member:
          %li.ChatHeader__member
            - @group.users.each do |user|
              = user.name
    = link_to "Edit", edit_group_path(@group), class: "ChatHeader__editButton"


  .MessageField
    = render @messages

  .Footer
    %form.Form
      %input{name: "utf8", type: "hidden", value: "✓"}/
      %input{name: "authenticity_token", type: "hidden", value: ""}/
      .Form__contents
        %input.Form__inputContent{name: "message[content]", placeholder: "type a message", type: "text"}/
        %label.Form__inputImage{for: "message_image"}
          = icon("fas", "images")
          %input{type: "file", class: "Form__hidden"}/
        %input.Form__submit{ name: "commit", type: "submit", value: "Send"}/