.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        = @group.name
        %ul.ChatHeader__memberList
          Member:
          %li.ChatHeader__member
            - @group.users.each do |user|
              = user.name
    = link_to "Edit", edit_group_path(@group), class: "ChatHeader__editButton"


  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Form__Hidden'
      = f.submit 'Send', class: 'Form__submit'